*{
  font-family:  Arial,sans-serif;
  font-size: 12px;
  /* margin: 0;
  padding: 0; */
}
.big{
  font-size: 13px;
}
.line{
  margin-bottom: 2px;
}

select{
  padding: 3px 0;
  background-image: linear-gradient(#e5e5e5,rgb(234, 234, 234));
}

input{
  border: 1px solid grey;
  border-radius: 0;
}

.form{
  margin: 50px 50px 0 50px;
  background-color: #ffffdd;
}


table,tr,td{
  border: 1px solid grey;
  border-collapse: collapse;
}

table{
  width: 100%;
  background-color: #ffffdd ;
}

.checkbox{
  width:19px
}
.asterisk{
  color:red;
}

.header{
  text-align: center;
  color:white;
  background-color:#8c2020;
  font-weight: lighter;
}

.header a{
  color: #f48907;
}

.fullName div{
  padding-right: 200px;
  display: inline-block;
}

.fullName input{
  width: 110px;
}
.borLess , .borLess tr, .borLess td{
  border: 0;
  padding:0;
}